:host {
  display: block;
}

.question {
  padding-top: 16px;
}

.actions {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

.skip {
  background: #606c76;
  border: 1px solid #606c76;
}

.container {
  max-width: 800px;
}
